// Colors used in the site

$yellow: #faa61c;
$color-friends-bg: #ffa366;
$color-messaging-bg: #8b9dc3;
$color-body: #8b9dc3;
$black: #111;
$red: #d23420;
$footer-color: #9EB8F0;
$cazito-color: #523455;
$log-frame: #DCD9D9;