// The default fallback font for the site. System fonts only here
$fontDefault: Arial, Helvetica, Verdana, sans-serif;

// Additional system fonts
$fontArial: Arial, sans-serif;

$fontFlamenco: 'Flamenco', $fontDefault;