/* main section, between header and footer */
$region-social-width: 230px;
$region-main-width: 640px;
$region-messaging-width: 160px;
$region-height: 500px;

/* header and footer width are window's'  */
$header-height: 60px;
$footer-height: 30px;
$log-height: 100px;

$logo-width: 40px;

$region-padding-horizontal: 0px;
$region-padding-vertical: 0px;

/* cheating */
$cheating-catalog-width: 75px;
$cheating-catalog-height: 408px;
$cheating-catalog-padding-horizontal: 40px;
$cheating-catalog-padding-vertical: 10px;
$cheating-cards-width: 112px;
$cheating-cards-height: 133px;