#gameBackground
{
    /* background-color: #B2C97E; */
    background-image:url('../../../images/canvasbg.gif');
    background-repeat:no-repeat;
}
#boardTable
{
    border-style: ridge;
    float: left;
    background-color: transparent;
}
#takeSeatButton {
    position:absolute;
    opacity: 0.8;
    filter: alpha(opacity=80);
	background-color: #D7AF82;
	font-weight:bold;
	font-style:italic;
}
.playerInfo
{
    position:absolute;
    display:none;
}
.playerTable
{
    width: 150px;
    height: 78px;
    border: 2px ridge grey;
    background-color: #D3D3D3;
}
.playerInfoType 
{
    width:50px;
}
.playerInfoValue
{
    width:100px;
}
.communityCard {
    position:absolute;
    display:none;
    height: 42px;
    width: 30px;
}
.playerCard {
    position:absolute;
    display:none;
    height: 70px;
    width: 50px;
}
.dealerButton
{
    border: 2px groove #503A2E;
    background-color: #C85E25;
    font-family:Calibri;
    font-size:120%;
    height: 20px;
    width: 20px;
}
.actionMessage
{
    background-color:transparent; /*#C3D02D; */
    border-style:none; /*outset;*/
    color: white;
    font-family:Calibri;
    font-weight:bolder;
    font-size:120%;
    width:150px;
    text-align:center;
}
#centerMessageId {
    position:absolute;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
#feed
{
    border-style: ridge;
    background-color: #EEEEEE;
    height: 196px;
    width: 144px;
    float: left;
}
#history
{
    border-style: ridge;
    background-color: #EEEEEE;
    height: 196px;
    width: 144px;
    float: left;
}
#top
{
    background-color: #9EB8F0;
}
#footer
{
    background-color: #9EB8F0;
    clear: both;
    text-align: center;
}
#tempButtons input
{
    float: left;
    background-color: Aqua;
}
#userCheckButton {
    position:absolute;
    width: 75px;
    height: 28px;
}
#userFoldButton {
    position:absolute;
    /* width: 42px; */
    width: 75px;
    height: 28px;
}
#userCallButton {
    position:absolute;
    /* width: 42px; */
    width: 55px;
    height: 28px;
}
#userRaiseButton {
    position:absolute;
    /* width: 42px; */
    width: 95px;
    height: 28px;
} 
#userRaiseAmount {
    background-color:#DAE27E;
    position:absolute;
    border-color:#747C23;
    /* width: 50px; */
    width: 110px;
    height: 28px;
}